.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tif
*.csv
*.jpg
*.png
*.doc
*.docx
*.sh
*.shp
*.dbf
*.cpg
*.prj
*.shx
*.pdf
*.mxd
*.pptx
*.xlsx
data/*
processed/*
maps/*
images/*
logs/*
docs/*
*.gdb
presentations/*
*.html
*.doc
*.docx
*.rast*
ROAD10m_rast.aux.xml
*.csv
*.sav